:root {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  --underline-color: #252729;
  --text-dark: #252729;
  --text-light: gainsboro;
  --background-primary: #252729;
  --background-secondary: #000000;
  text-align: justify;
}

/* Typography */
#nav-link {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  font-style: italic;
}

#nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--underline-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.text-light {
  color: var(--text-light);
  font-style: italic;
}

.text-dark {
  color: var(--text-dark);
  font-style: italic;
}
/* Body */

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--text-dark);
}

/*Main*/

main {
  padding-top: 16px;
}

.title-section {
  text-align: center;
}

/* Header */

.header-bar {
  position: fixed;
  display: flex;
  opacity: 0;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  top: 0;
  margin-top: 0;
  background-color: var(--background-primary);
  z-index: 2;
}

.header-bar p {
  padding-left: 1.2rem;
}
/* nav */

.nav-icon {
  z-index: 100;
}
.svg-icon {
  position: fixed;
  top: 10px;
  right: 4px;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--background-primary);
  transition-property: fill;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.svg-icon circle {
  stroke: var(--background-primary);
  stroke-width: 1;
}

#navbar {
  position: fixed;
  top: 0.9rem;
  right: 2rem;
  width: 0;
  overflow: hidden;
  z-index: 3;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.nav-item {
  text-align: center;
  padding: 0 12px;
}

.lang-toggle {
  white-space: nowrap;
  overflow: hidden;
}

.lang-button {
  border: 2px solid gainsboro;
  border-radius: 4px;
  background-color: var(--background-primary);
  color: gainsboro;
  text-align: center;
  cursor: pointer;
  height: 32px;
  width: 32px;
}